# UMich GitLab
Host gitlab
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/hengma_rsa

# GitHub
Host github
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_rsa

# CAEN
Host caen
    HostName login.engin.umich.edu
    User hengma
    Compression yes